.ReactModal__Content {
  background: rgb(166 172 209) !important;
  box-shadow: 2px 3px 10px #5a42428a;
}
.full-page-loader {
  width: 600px;
  z-index: 999;
  padding: 20px;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  img {
    width: 30px;
    margin-right: 10px;
    filter: invert(1);
  }
  span {
    color: $main-white;
  }
}
